
<!-- <label class="col-md-1 control-lable" for="company">Empresa</label> -->
<div class="col-md-5" ng-controller="CompanyCtrl as cpnyctrl" >
	<div layout="column" ng-cloak="" >
	  <md-content class="md-padding">
	      <md-autocomplete  md-selected-item="cpnyctrl.selectedItem"  md-search-text="cpnyctrl.searchText" md-selected-item-change="cpnyctrl.selectedItemChange(item)" md-items="item in cpnyctrl.querySearch(cpnyctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Empresa" >
	        <md-item-template>
	          <span md-highlight-text="cpnyctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
	        </md-item-template>
				<md-not-found>
					No se encontro "{{cpnyctrl.searchText}}".
<!-- 					<a ng-click="cpnyctrl.newState(cpnyctrl.searchText)"> -->
<!-- class="container" -->
							<div ng-controller="ModalCompanyCtrl" >
							  <button ng-click="toggleModal()" class="btn btn-default">Agregar nuevo</button>
							  <modal title="Login form" visible="showModal">
<!-- 							   <form role="form"> -->
<!-- 							      <div class="form-group"> -->
<!-- 							        <label for="email">Email address</label> -->
<!-- 							        <input type="email" class="form-control" id="email" placeholder="Enter email" /> -->
<!-- 							      </div> -->
<!-- 							      <div class="form-group"> -->
<!-- 							        <label for="password">Password</label> -->
<!-- 							        <input type="password" class="form-control" id="password" placeholder="Password" /> -->
<!-- 							      </div> -->
<!-- 							      <button type="submit" class="btn btn-default">Submit</button> -->
<!-- 							    </form>  -->
							  </modal>
							</div>
<!-- 					</a> -->
				</md-not-found>
	      </md-autocomplete>
	  </md-content>
	</div>
                       
</div>
      
                      